fastapi==0.111.0
uvicorn[standard]==0.30.1
alembic==1.13.1
sqlalchemy==2.0.30
pymysql==1.1.0
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.3.4
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
cryptography
python-jose[jwt] # JWT 토큰 처리